* {
    margin: 0;
    padding: 0;
}
a, a:hover {
	text-decoration: none;
}
#header .top-menu {
    color: #00bfa5;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
#header .top-menu ul {
    margin-bottom: 0;
}
#header .top-menu ul.contact-number {
    float: left;
}
#header .top-menu ul li {
    list-style: none;
    float: left;
    padding: 15px 50px 15px 0;
}
#header .top-menu ul li:last-child {
    padding-right: 0;
}
#header .top-menu ul li a {
    color: #00bfa5;
    padding-left: 10px;
    font-weight: 500;
}
#header .top-menu ul.user-login {
    float: right;
}
#header .main-menu {
    background: #00bfa5;
    color: #fff;
    overflow: hidden;
}
#header .main-menu .logo {
    float: left;
    padding-top: 5px;
    padding-bottom: 15px;
}
#header .main-menu .logo a {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    padding: 40px 0;
}
#header .main-menu ul.menu-item {
    float: left;
    margin-top: 44px;
    margin-left: 280px;
}
#header .main-menu ul.menu-item li {
    float: left;
    list-style:none;
}
#header .main-menu ul.menu-item li a{
    color: #fff;
    padding: 13px 18px;
    text-transform: uppercase;
    font-weight: 500;
}
#header .main-menu ul.menu-item li a.active{
    border: 2px solid #fff;
}
#header .main-menu .search-box {
    float: right;
    margin-top: 45px;
}
/* End Header Section */

/* Start Slider Section */
#slider {
    position: relative;
    background: url(../img/2.png);
    background-size: cover;
    background-position: center;
}
#slider .slider-overlay {
    background: rgb(255,255,255,.7);
}
#slider .slider-overlay h2 {
	padding-top: 185px;
	font-size: 55px;
    font-family: 'Frank Ruhl Libre', serif;
    color: #00bfa5;
}
#slider .slider-overlay p {
	padding-top: 75px;
	font-size: 21px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
}
#slider a {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background: #00bfa5;
    font-weight: 600;
    border-radius: 1px;
    padding: 15px 30px;
    margin-top: 100px;
    margin-bottom: 208px;
}
#choose {
    background: #00bfa5;
    padding-top: 100px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
#choose .choose-head {
	text-align: center;
    color: #ffffff;
    margin-bottom: 70px;
}
#choose .choose-head h2 {
    font-size: 36px;
    margin-bottom: 55px;
}
#choose .choose-head p {
	font-size: 14px;
}
#choose .choose-body .col-md-6 {
    margin-bottom: 85px;
}
#choose .choose-body .col-md-9 {
    padding-left: 40px;
}
#choose .choose-body h2 {
	font-size: 24px;
    color: #ffffff;
}
#choose .choose-body p {
	font-size: 14px;
	color: #b0e4da;
	padding-top: 25px;
}
#our-service {
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
}
#our-service .our-service-title {
    margin-bottom: 80px;
}
#our-service .our-service-title h3 {
    font-weight: 700;
    font-size: 36px;
    color: #00bfa5;
}
#our-service .our-service-title p {
    font-weight: 500;
    font-size: 14px;
    color: #140000;
    margin-top: 25px;
}
#our-service .our-serivce-item {
    margin-bottom: 65px;
}
#our-service .our-serivce-item .our-service-icon {
    float: left;
    margin-right: 30px;
    position: relative;
}
#our-service .our-serivce-item .our-service-icon img.icon {
    border: 5px solid #00bfa5;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    transition: all .5s;
}
#our-service .our-serivce-item .our-service-icon img.img-h {
    position: absolute;
    padding: 20px;
    border: 5px solid #00bfa5;
    border-radius: 50%;
    visibility: hidden;
}
#our-service .our-serivce-item:hover .our-service-icon img {
    background: #00bfa5;
}
#our-service .our-serivce-item:hover .our-service-icon img.img-h {
    visibility: visible;
}
#our-service .our-serivce-item .our-service-content {
    margin-left: 180px;
}
#our-service .our-serivce-item .our-service-content h4 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
}
#our-service .our-serivce-item .our-service-content p {
    font-weight: 500;
    font-size: 14px;
    color: #000;
    margin-top: 20px;
    line-height: 24px;
    opacity: .6;
}
#portal {
	background: #ffffff;
	width: 100%;
	height: 790px;
}
#portal .portal-head {
	text-align: center;
	padding-top: 95px;
}
#portal .portal-head h3 {
	font-size: 36px;
	color: #00bfa5;
}
#portal .portal-head .underline1 {
	width: 132px;
	height: 2px;
	background: #00bfa5;
	margin: 10px auto;
}
.underline2 {
	width: 1140px;
	height: 2px;
	color: #ffffff;
	margin: 10px auto;
}
#portal .portal-body {
	padding-top: 59px;
}
#portal .portal-body h4 {
	font-size: 14px;
	color: gray;
	padding-top: 20px;
	padding-left: 9px;
}
#portal .portal-body p {
	font-size: 16px;
	padding-left: 9px;
}
#portal .portal-body a {
	color: #b95c65;
	font-size: 14px;
	padding-left: 9px;
}
#portal .portal-body .btn button {
	padding: 9px 18px;
	font-size: 16px;
	border: none;
	background: #00bfa5;
	color: #ffffff;
	margin: 45px 473px;
}
#course {
	background: #ffffff;
	width: 100%;
	height: 1055px;
}
#course .course-head {
	padding-top: 100px;
}
#course .course-head h2 {
	font-size: 36px;
	color: #00bfa5;
}
#course .course-head p {
	font-size: 14px;
	color: #8c8c8c;
	padding-top: 45px;
}
#course .course-item img {
    margin: 35px 0;
}
#course .course-item .course-catgory {
	overflow: hidden;
}
#course .course-item .course-catgory .category-name {
    float: left;
}
#course .course-item .course-catgory .category-name a {
    color: #000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
#course .course-item .course-catgory .category-name i {
	margin-right: 10px;
}
#course .course-item .course-catgory .price {
	float: right;
}
#course .course-item .course-catgory .price h5 {
    color: #00bfa5;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
#course .course-item .course-catgory .price .rating {
	margin-right: 0;
	position: relative;
	right: -7px;
}
#course .course-item .course-catgory .price .rating i {
	color: #ed8000;
	font-size: 14px;
	margin-right: -3px;
}
#course .course-item .course-content h4 {
	font-size: 24px;
	font-weight: 700;
	color: #000;
	padding-bottom: 25px;
}
#course .course-item .course-content p {
	font-size: 14px;
    color: #000;
	line-height: 28px;
	opacity: .6;
}
#course .course-item .course-content a {
	color: #fff;
	background: #00bfa5;
	font-size: 16px;
	padding: 13px 25px;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 1px;
	margin-top: 40px;
}
#live-class {
    background: #00bfa5;
    padding: 100px 0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#live-class .live-class-content {

}
#live-class .live-class-content h5 {
    font-size: 20px;
    font-weight: 500;
}
#live-class .live-class-content h4 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}
#live-class .live-class-content p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding-right: 50px;
    margin-bottom: 45px;
}
#live-class .live-class-content a {
    color: #00bfa5;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 1px;
}
#live-class .class-video a.class-left i {
    background: #ffffff;
    color: #00bfa5;
    padding: 10px;
    position: absolute;
    right: 37px;
    bottom: -60px;

}
#live-class .class-video a.class-right i{
    background: #ffffff;
    color: #00bfa5;
    padding: 10px;
    position: absolute;
    right: 0px;
    bottom: -60px;
}
#footer {
    background: #f01048fd;
    color: #ffffff;
    padding-top: 100px;
    padding: 70px;
}
#footer .newsletter h3 {
    font-size: 16px;
    line-height: 30px;
}
#footer .subscribe .form-inline {
    float: right;
}
#footer .subscribe .form-inline input.email-input {
    border: 1px solid #ffffff;
    border-radius: 0;
    width: 360px;
    height: 45px;
    background: #f01048fd;
}
#footer .subscribe .form-inline input.email-input::placeholder {
    color: #ffffff;
    opacity: .6;
    font-size: 12px;
}
#footer .subscribe .form-inline button.email-button {
    border-radius: 0;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #00bfa5;
    text-transform: uppercase;
    font-size: 14px;
    padding: 11px 21px;
}
#footer .social-icon {
    position: absolute;
    bottom: -70px;
    right: 0;
}
#footer .newsletter .social-icon a {
    color: #fff;
    margin-right: 20px;
}
#footer .address {
    margin-top: 135px;
}
#footer .address .quick-link h3 {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
#footer .address .quick-link ul li {
    list-style: none;
    line-height: 30px;
}
#footer .address .quick-link ul li a {
    color: #e5e5e5;
    font-size: 14px;
}
#footer .copyright {
    border-top: 2px solid #fff;
    margin-top: 50px;
}
#footer .copyright .footer-menu {
    margin-top: 30px;
}
#footer .copyright .footer-menu ul {
    float: left;
}
#footer .copyright .footer-menu ul li {
    float: left;
    list-style: none;
    margin-right: 25px;
}
#footer .copyright .footer-menu ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
#footer .copyright .footer-menu ul li a i {
    margin-right: 10px;
}
#footer .copyright .footer-menu p {
    float: right;
}


